{% extends 'base.html' %}
{% load static %}
{% load classroom_tags %}

{% block header_context %}{% endblock header_context %}


{% block context %}
    <!-- Carousel Start -->
    {% show_index_carousel %}
    <!-- Carousel End -->

    <!-- About Start -->
    {% show_index_about %}
    <!-- About End -->

    <!-- Category Start -->
    {% show_index_categories 4 %}
    <!-- Category Start -->

    <!-- Courses Start -->
    {% show_index_courses 6 %}
    <!-- Courses End -->

    <!-- Team Start -->
    {% show_index_our_teachers %}
    <!-- Team End -->

    <!-- Testimonial Start -->
    {% show_index_testimonial %}
    <!-- Testimonial End -->


    <!-- Blog Start -->
    {% show_index_blog %}
    <!-- Blog End -->

{% endblock context %}


