{% load static %}

<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Наш блог</h5>
            <h1>Последние публикации</h1>
        </div>
        <div class="row pb-3">
            
            {% for el in publications %}
                <div class="col-lg-4 mb-4">
                    <div class="blog-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static el.static_image %}" alt="">
                        <a class="blog-overlay text-decoration-none" href="">
                            <h5 class="text-white mb-3">{{ el.title }}</h5>
                            <p class="text-primary m-0">{{ el.date }}</p>
                        </a>
                    </div>
                </div>    
            {% endfor %}
                
        </div>
    </div>
</div>
