{% load static %}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Рекомендации</h5>
            <h1>Что говорят о нас студенты</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    
                    {% for el in reviews %}
                        <div class="text-center">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <h4 class="font-weight-normal mb-4">{{ el.text }}</h4>
                            <img class="img-fluid mx-auto mb-3" src="{% static el.static_image %}" alt="">
                            <h5 class="m-0">{{ el.name }}</h5>
                            <span>{{ el.profession }}</span>
                        </div>    
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
